body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
  }
  
  .game {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .game span {
    font-weight: bold;
  }
  
  .game input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;

  }
  
  .game button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .game button:last-child {
    background-color: #f44336;
  }
  
  #result {
    margin-top: 20px;
    padding: 10px;
    border:  #ccc;
    border-radius: 3px;
  }

  #footer {
    text-align: center;
    padding: 10px;
  }